section#container_1 {
    background: #F2F9FF;
    padding-top: 110px;
    position: relative;
    padding-bottom: 120px;
}
.max-width-div {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.flex-div {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
}
.column_1Parent {
    display: flex;
    flex-direction: column;
}
.column_2.img-column {
    display: flex;
    justify-content: end;
}
.column_2.img-column div {
    width: 30%;
    position: relative;
    z-index: 1;
}
.img-1 img {
    width: -webkit-fill-available;
}
.img-1.smallImg {
    width: 25% !important;
    left: -26px;
    position: relative !important;
    margin-top: 40px;
    z-index: 0 !important;
}
h1.heading_banner {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 50px;
}
h1.heading_banner span:before {
    content: "Livis";
    position: absolute;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 60px;
}
h1.heading_banner span {
    position: relative;
    color: transparent;
    font-style: italic;
    font-weight: bold;
}
.NavyBlueGraph {
    position: absolute;
    background: #1E1E68;
    padding: 10px;
    border-radius: 10px;
    right: 17%;
    z-index: 3;
    width: 200px;
    top: 50px;
}
.NavyBlueGraph  p{
    color: #fff;
}
button.pinkBtn {
    padding: 10px;
    width: 140px;
    background: #EE356E;
    border: transparent;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
}
button.transparentBtn{
    padding: 10px;
    width: 140px;
    background: #fff;
    border: transparent;
    border-radius: 5px;
}
.EarnedToday {
    position: absolute;
    bottom: -19px;
    width: 228px;
    left: 54%;
    background: #D9E1E9;
    border-radius: 10px;
}
.flexClass {
    display: flex;
}
.NavyBlueGraph div {
    display: flex;
    justify-content: space-between;
}
.BlueCurve {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    background-position: left;
}
.GreyCurve {
    position: absolute;
    bottom: -150px;
    left: 0;
    right: 0;
    z-index: 0;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    background-position: left;
}





















@media(min-width: 1400px){
    .max-width-div {
        max-width: 1400px;
    }
}